/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfdfdf;
}

.col-lg-4{
  margin-top: 2%;
}


/* HomePage */
.navbar-nav li {
  margin: 0 15px;
}

.logo {
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

.carouimg {
  width: 100%;
  max-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10%;
}

.carousel-caption{
  padding: 0 10%;
}


.slider-title{
  position: relative;
  bottom: 4rem;
}

.slider-desc{
  position: relative;
  bottom: 4rem;
  font-weight: 500;
}

.carousel-caption button{
  position: relative;
  bottom: 3.5rem;
}

.container-fluid {
  padding: 4% 10% 0 10%;
}

.title-content {
  color: #2b2e4a;
}

.title-more {
  display: flex;
  justify-content: space-between;
  margin: 1% 0 0 0;
}

.title-more-hot{
  display: flex;
  justify-content: space-between;
  margin: 1% 0 1% 0;
}

.more {
  width: 15%;
  background: #2b2f4b;
  border-radius: 32px;
  font-weight: 600;
}

.link-more{
  text-decoration: none;
  color: white;
}

.card-score {
  background-color: white;
  width: auto;
  height: auto;
  padding: 4% 5%;
  border-radius: 14px;
}

.head-card-score {
  display: flex;
  justify-content: space-between;
}

.head-card-score img{
  width: 9%;
  height: 9%;
}

.live-card-score{
  color: red;
  font-weight: 600;
  font-size: 95%;
  text-transform: uppercase;
}

.finished-card-score{
  color: green;
  font-weight: 550;
  font-size: smaller;
  text-transform: uppercase;
}

.card-league-name{
  color: #198CCD;
  font-size: 90%;
}

.main-card-score {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-date{
  font-size: small;
  margin: 0;
  color: grey;
}

.card-team {
  text-align: center;
}

.card-team p{
  font-size: 87%;
}

.img-team {
  margin-bottom: 5%;
}

.img-team-bsa{
  width: 41%;
}

.cardscore-content{
  position: relative;
}

.footer-card-score{
  position: absolute;
  top: 80%;
  font-size: 68%;
}

.card-score-detail {
  display: flex;
  padding: 0 10%;
  font-size: 240%;
}
.footer-card-score{
  margin: 0;
  text-align: center;
}

.score-minute {
  margin-top: 40%;
  font-size: small;
}

.card-standing {
  background-color: white;
  width: auto;
  height: auto;
  padding: 5% 7%;
  border-radius: 16px;
}

.league-logo img{
  width: 50%;
}

.league-logo {
  text-align: center;
}

.table-standing-margin {
  margin-top: 8%;
}

.starting-news {
  position: relative;
  border-radius: 14px;
}

.img-starting-news-home{
  max-width:100%;
  border-radius: 10px;
}

.title-news-content{
  padding-left: 5%;
}

.title-top-news {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  position: absolute;
  bottom: 5%;
}

.row-sm{
  width: 100%;
  margin: 0.5% 0;
}

.side-news{
  display: flex;
  background-size: cover;
}

.side-news img{
  width: 20%;
  border-radius: 10px;
}
.side-news-content{
  margin-left: 3%;
}

.side-news-date{
  color: #3D3D3D;
  font-size: 12px;
  margin: 1.5% 0;
}

.side-news-title{
  font-size: 16px;
  font-weight: 400;
}

.card-stats {
  background-color: white;
  width: auto;
  height: auto;
  padding: 5% 7%;
  border-radius: 16px;
  position: relative;
}

.card-stats-ucl {
  background-image: url(../assets/img/topscorers/ucl2.jpg);
  width: auto;
  height: auto;
  padding: 5% 7%;
  border-radius: 16px;
  background-size: cover;
  position: relative;
}

.stats-league{
  width: 15%;
  height: 15%;
}

.stats-name{
  margin-top: 4%;
  margin-bottom: 0;
  font-weight: 500;
  font-size: larger;
  color: #2B2E4A;
}

.stats-club{
  font-size: medium;
  color: #B6B6B6;
  margin-bottom: 0;
}

.stats-goals{
  font-size: x-large;
  color: #E84545;
  font-weight: 700;
}

.stats-img img{
  width: 45%;
  position: absolute;
  left: 54%;
  bottom: 0;
}

.footer{
  margin-top: 7%;
  background-color: #2B2E4A;
  color: #fff;
  font-size:large;
  font-weight:300;
}

ul li {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 2px;
}

.header-footer{
  font-weight: 600;
}
.link-footer a{
  color: white;
  text-decoration: none;
}
.link-footer a:hover{
  color: darkcyan;
}

/* LeagueStandingTablePage */
.table-standing{
  background-color: white;
  padding: 2.5% 2.5%;
  border-radius: 20px;
  text-align: center;
}

.table-standing tbody td:nth-child(3){
  text-align: left;
}

.table-standing thead th:nth-child(3){
  text-align: left;
}

/* PlayerStatsPage{ */

.topscorer-title{
  text-align: center;
  margin: 3% 0 3% 0;
  color: #2B2E4A;
}
.topscorer-container{
  background-color: white;
  padding: 2.5% 2.5%;
  border-radius: 20px;
  text-align: center;
}

.topscorer-container tbody td:nth-child(2){
  text-align: left;
}
.topscorer-container tbody td:nth-child(3){
  text-align: left;
}
.topscorer-container tbody td:nth-child(4){
  text-align: left;
}
.topscorer-container tbody td:nth-child(5){
  text-align: left;
}
.topscorer-container thead th:nth-child(2){
  text-align: left;
}
.topscorer-container thead th:nth-child(3){
  text-align: left;
}
.topscorer-container thead th:nth-child(4){
  text-align: left;
}
.topscorer-container thead th:nth-child(5){
  text-align: left;
}

.liga{
  opacity: 0.4;
  width: 60%;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0.8));
  cursor: pointer;
}

.liga:hover {
  opacity: 1;
}

/* Finished Matches Page */
.heading-livescore-page{
  background-color: #2b2e4a;
  padding-bottom: 10%;
}


.align-heading-livescore{
  text-align: center;
  margin-top: 2%;
}

.align-heading-livescore button{
  margin: 0 0.5%;
}

.big-matches-title{
  color: white;
  margin: 3% 0 0 0;
}

.titlesection-finished{
  color: #2b2e4a;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: -2%;
}